@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

.conTop {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.wrapper{
  height: 80vh;
  background-image: linear-gradient(to right, #d383f54f, #4c008290);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 2px;
}
.heads{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 30px;
}
.box{
  width: 500px;
  padding: 30px;
  background-color: #f3f3f3;
  border-radius: 5px;
  color: rgb(8, 8, 8);
  font-size: 15px;
}

.input-with-icon-div{
  display: flex;
  padding: 4px;
  background-color: #faeaf9;
}

.custom-input{
  width: 95%;
  border: none;
  outline: none;
  padding:6px;
}

.icon-span{
  cursor: pointer;
  color: rgb(80, 19, 125);
  font-weight: bold;
}

.tracker-box{
  background-color: #62087ed4;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.09em;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
}

.tracker-box div{
  margin: 5px 0;
}

.tracker-box .validated{
  color: rgba(255, 255, 255, 0.5);
}

.list-icon{
  margin-right: 8px;
}

.list-icon.green{
  color: greenyellow;
  font-weight: bold;
}
button{
    background-color: rgba(74, 133, 74, 0.39);
    padding: 10px;
    width: 100%;
    margin: 6px 0px;
    color: rgb(62, 163, 62);
    font-size: 14px;
    font-weight: bold;
}