* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #e4eee9;
  /* background: rgb(201, 201, 201); */
}
body{
  background-color: #123;
  color: #fff;
}